:root{
    --largura-bloco: calc(var(--largura) * 0.08);
    --borda-bloco: 1px;
}

@font-face {
    font-family: Soft_Marshmallow;
    src: url('../font/Soft_Marshmallow.otf');
}

body{
    overscroll-behavior-y: contain;
    background-color: black;
    vertical-align: middle;
    display: flex;
    color: #320950;
}

main{
    margin: auto;
    width: var(--largura);
    height: var(--altura);
    border: 1px solid #000;
    background: radial-gradient(#4df0f5, #32adb1, #2f989b);
}

.tela-inicial{
    background: radial-gradient(#4df0f5, #32adb1, #2f989b);
    margin: auto;
    width: var(--largura);
    height: var(--altura);
}

.tela-parabens{
    background: radial-gradient(#4df0f5, #32adb1, #2f989b);
    margin: auto;
    width: var(--largura);
    height: var(--altura);
}

.component{
    float: left;
}

.area-alinhada{
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}

.mensagem{
    color: yellow;
    width: 100%;
}

.hide{
    display: none !important;
}
.absolute{
    position: absolute !important;
}
.elevar{
    z-index: 1;
}
.left{
    float: left;
}
.hidden{
    overflow: hidden;
}
.inline{
    display: inline-flex;
}

.cabecalho{
    height: calc(var(--altura) * 0.36);
    width: 100%;
}
.resultado{
    box-sizing: border-box;
    height: calc(var(--altura) * 0.10);
    width: 100%;
}
.rodape{
    
}
.campo-inicial{
    height: 100%;
    width: 38%;
    margin: 1%;
    box-sizing: border-box;
}
.campo-bloco{
    box-sizing: border-box;
    width: calc(100% / 3);
}
.campo-tira{
    box-sizing: border-box;
    width: calc(100% / 3);
}
.campo-tira .tira .bloco{
    height: calc(var(--largura-bloco) * 0.23);
    width: calc(var(--largura-bloco) * 0.23);
}
.campo-plataforma{
    box-sizing: border-box;
    width: calc(100% / 3);
}
.campo-expressao{
    height: 100%;
    width: 50%;
}
.campo-expressao-interno{
    margin: 10%;
}
.campo-opcoes{
    width: 10%;
    height: 100%;
}
.campo-resultado{
    height: 100%;
    width: calc(100% / 3);
    padding: 0px calc(var(--largura-bloco) * 0.2);
}
.texto{
    font-size: calc(var(--altura) * 0.05);
    font-family: "Soft_Marshmallow";
}
.valor{
    font-size: calc(var(--altura) * 0.12);
    font-family: "Soft_Marshmallow";
}
.campo-final{
    width: 100%;
    z-index: -1;
}
.campo-hover{
    background-color: rgb(168, 127, 91);
    border-color: rgb(156, 110, 65);
}
.campo-final-ordem{
    height: calc(var(--largura-bloco) * 3.5);
    width: calc(100% / 3);
    box-sizing: border-box;
    padding: calc(var(--altura) * 0.02);
    margin: calc(var(--altura) * 0.03);
    border-radius: 0.5em;
    background-color: #efd33b;
}

.campo-final-centena{
    padding: calc(var(--altura) * 0.02) calc(var(--altura) * 0.04);
}
.campo-final-dezena{
    padding: calc(var(--altura) * 0.02) calc(var(--altura) * 0.055);
}
.campo-final-unidade{
    padding: calc(var(--altura) * 0.02) calc(var(--altura) * 0.035);
}

.bloco{
    background-color: gold;
    border: 0.1em solid goldenrod;
    height: var(--largura-bloco);
    width: var(--largura-bloco);
    float: left;
    box-sizing: border-box;
    border-radius: 15%;
}
.tira{
    float: left;
}
.tira .bloco{
    border: var(--borda-bloco) solid goldenrod;
    height: calc(var(--largura-bloco) * 0.3);
    width: calc(var(--largura-bloco) * 0.3);
    float: none;
}
.plataforma{
    float: left;
    border: var(--borda-bloco) solid darkgoldenrod;
}
.plataforma .tira .bloco{
    border: var(--borda-bloco) solid goldenrod;
    height: calc(var(--largura-bloco) * 0.095);
    width: calc(var(--largura-bloco) * 0.095);
    float: none;
}
.plataforma-minimizada{
    background-color: gold;
    border: var(--borda-bloco) solid goldenrod;
    box-sizing: border-box;
    height: calc(var(--largura-bloco) * 0.25);
    width: calc(var(--largura-bloco) * 0.25);
    margin: calc(var(--largura-bloco) * 0.04);
    float: left;
}
.tira-minimizada{
    background-color: gold;
    border: var(--borda-bloco) solid goldenrod;
    box-sizing: border-box;
    height: calc(var(--largura-bloco) * 0.7);
    width: calc(var(--largura-bloco) * 0.15);
    margin: calc(var(--largura-bloco) * 0.03);
    float: left;
}

.titulo{
    margin: auto;
}

.popup{
    margin-top: calc(50% - 50px);
    margin-left: calc(50% - 150px);
    height: 100px;
    width: 300px;
    background-color: white;
    position: absolute;
}

.button{
    height: calc(var(--largura-bloco) * 0.35);
    width: calc(var(--largura-bloco) * 0.5);
    float: right;
    margin: calc(var(--largura-bloco) * 0.1);
    background: radial-gradient(farthest-side at 75% 15%, #c8fdff, #32adb1);
    border-radius: 15%;
    box-shadow: 0px 0px 5px;
    padding: calc(var(--largura-bloco) * 0.05);
}

.refresh:active, .clear:active{
    box-shadow: inset 0px 0px 5px;
}

.lixeira{
    background: none;
    box-shadow: none;
}

.titulo-inicial{
    animation: gold-color-frames 2s infinite;
    text-align: center;
    height: 50%;
    padding: 2em;
    box-sizing: border-box;
    font-size: var(--tamanho-fonte-titulo);
    text-shadow: 0 0 3px goldenrod;
}

.botao-tela-inicial{
    height: var(--altura-botao-titulo);
    width: var(--largura-botao-titulo);
    background-color: darkcyan;
    border-radius: 10%;
    margin: auto;
    float: unset;
    font-size: var(--tamanho-fonte-botao-titulo);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Soft_Marshmallow";
}

.botao-tela-inicial:hover{
    box-shadow: inset 0 0 10px darkcyan;
}

@keyframes gold-color-frames {
    0%   {color: gold;}
    25%  {color: #b68303;}
    50%  {color: yellow;}
    100% {color: #e6e610;}
}