body{
    overscroll-behavior-y: contain;
    background-color: black;
    vertical-align: middle;
    display: flex;
}

main{
    margin: auto;
    width: var(--largura);
    height: var(--altura);
    border: 1px solid #000;
    background-color: cadetblue;
}

.component{
    float: left;
}

.area-alinhada{
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}

.mensagem{
    color: yellow;
    width: 100%;
}

/* Auxiliares */
.hide{
    display: none !important;
}
.absolute{
    position: absolute !important;
}
.elevar{
    z-index: 1;
}
.left{
    float: left;
}
.hidden{
    overflow: hidden;
}
.inline{
    display: inline-flex;
}

/* Campos principais */
.cabecalho{
    box-sizing: border-box;
    height: 25%;
    width: 100%;
}
.resultado{
    box-sizing: border-box;
    height: 16%;
    width: 100%;
}
.rodape{
    box-sizing: border-box;
    padding: 0.5%;
    height: 59%;
    width: 100%;
}
.campo-inicial{
    height: 100%;
    width: 40%;
}
.campo-bloco{
    box-sizing: border-box;
    width: calc(100% / 3);
}
.campo-tira{
    box-sizing: border-box;
    width: calc(100% / 3);
}
.campo-plataforma{
    box-sizing: border-box;
    width: calc(100% / 3);
}
.campo-expressao{
    height: 100%;
    width: 60%;
}
.campo-resultado{
    height: 100%;
    width: calc(100% / 3);
}
.texto{
    font-size: 1.3em;
}
.valor{
    font-size: 3em;
}
.campo-final{
    box-sizing: border-box;
    background-color: sandybrown;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.campo-final-hover{
    background-color: rgb(168, 127, 91);
    border-color: rgb(156, 110, 65);
}
.campo-final-centena{
    height: 100%;
    width: calc(100% / 3);
    box-sizing: border-box;
    border: 0.1em solid peru;
}
.campo-final-dezena{
    height: 100%;
    width: calc(100% / 3);
    box-sizing: border-box;
    border: 0.1em solid peru;
}
.campo-final-unidade{
    height: 100%;
    width: calc(100% / 3);
    box-sizing: border-box;
    border: 0.1em solid peru;
}
.bloco{
    background-color: gold;
    border: 0.1em solid goldenrod;
    height: 1em;
    width: 1em;
}
.tira{
    float: left;
}
.tira .bloco{
    border: 0.1em solid goldenrod;
    height: 0.4em;
    width: 0.4em;
}
.plataforma{
    float: left;
    border: 0.1em solid darkgoldenrod;
}
.plataforma .tira .bloco{
    border: 0.07em solid goldenrod;
    height: 0.3em;
    width: 0.3em;
}