body{
    background-color: cadetblue;
}

.main{
    float: left;
}

.component{
    float: left;
}

.bloco{
    background-color: gold;
    border: 3px solid goldenrod;
    height: 50px;
    width: 50px;
    overflow: hidden;
}

.campo{
    background-color: sandybrown;
    border-color: peru;
    border-style: solid;
    height: calc(100% - 20px);
    width: 45%;
    z-index: -1;
    float: right;
}

.campo-hover{
    background-color: rgb(168, 127, 91);
    border-color: rgb(156, 110, 65);
}

.mensagem{
    position: absolute;
    color: yellow;
}

.hide{
    display: none;
}

.absolute{
    position: absolute;
}

.elevar{
    z-index: 3;
}